<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <style>
      .container {
        display: grid;
        width: 90%;
        grid-template-areas:
        "header header header"
        "img      .    info"
        ". . .";
        row-gap: 15px;
        column-gap: 25px;
      }
      .table-container {
        width: 90%;
      }

      header {
        grid-area: "header";
      }

      .iframe {
        grid-area: "img";
      }

      .thumbnail-img {
        width: 560;
        height: 315;
      }

      .blur {
        filter: blur(15px);
      }

      .info {
        grid-area: "info";
        width: 500px;
      }

      .description {
        overflow: auto;
        height: 90px;
      }
    </style>
</head>
<body>
    <div class="container">
        <header style="grid-area: header;">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Youtube Downloader</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link active" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Github
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="https://github.com/sujang958">Developer</a>
                        <a class="dropdown-item" href="https://github.com/team-int/youtube-downloader">Repo</a>
                      </div>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="url" placeholder="url" aria-label="url">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Download</button>
                  </form>
                </div>
              </nav>
        </header>
        <div class="iframe">
          <% if (video.isNsfw) { %>
            <img src="<%= video.thumbnail %>" class="thumbnail-img blur">
          <% } else { %>
            <iframe width="560" height="315" src="<%= video.iframe %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          <% } %>
        </div>
        
        <div class="info">
          <p class="h4"><%= video.title %></p>
          <footer class="blockquote-footer"><%= author.name %></footer><br>
          <p class="description">설명<br><%= video.description %></p>
          <% if (video.isNsfw) { %>
            <span class="alert-danger">연령제한이 적용된 동영상입니다</span>
          <% } %>
          <p>
            <span class="alert-primary"><%= video.like %> Likes,</span>
            <span class="alert-danger"><%= video.dislike %> Dislikes</span>
          </p>
          <p><%= video.date %></p>
        </div><br><br>
        <table class="table video-table">
          <thead>
            <tr>
              <th scope="col">Format</th>
              <th scope="col">Quality</th>
              <th scope="col">Url</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i in [1, 2, 3, 4, 5]) { %>
              <% if (videoArr[i]) { %> 
                <tr>
                  <td class="lead"><%= videoArr[i].container %></td>
                  <td><%= videoArr[i].quality %>, <%= videoArr[i].fps %>fps</td>
                  <td><a href="<%= videoArr[i].url %>" target="_blank">Url</a></td>
                </tr>
              <% } else { %>
                <tr>
                  <td class="lead">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
        <table class="table audio-table">
          <thead>
            <tr>
              <th scope="col">Format</th>
              <th scope="col">Quality</th>
              <th scope="col">Url</th>
            </tr>
          </thead>
          <tbody>
            <% for (let i in [1, 2, 3, 4, 5]) { %>
              <% if (audioArr[i]) { %> 
                <tr>
                  <td class="lead"><%= audioArr[i].container %></td>
                  <td><%= audioArr[i].quality %></td>
                  <td><a href="<%= audioArr[i].url %>" target="_blank">Url</a></td>
                </tr>
              <% } else { %>
                <tr>
                  <td class="lead">&nbsp;</td>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
              <% } %>
            <% } %>
          </tbody>
        </table>
    </div>

    <script>
      <% if (video.isNsfw) { %>
        document.querySelector('div.iframe > img').addEventListener(
          'click',
          () => {
            if (document.querySelector('div.iframe > img')
            .classList
            .contains('blur')) {
              document.querySelector('div.iframe > img')
              .classList
              .remove('blur')
            } else {
              document.querySelector('div.iframe > img')
              .classList
              .add('blur')
            }
          }
        )
      <% } %>
    </script>
</body>
</html>